# Environment Variables
.env

# Python (Backend)
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
.venv/
venv/
env/
backend/downloads/
backend/vector_db/
backend/bin/
backend/.env

# Frontend (Node.js)
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.eslintcache
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
